header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: 8%;
  right: 0.5%;
  background-color: rgb(196, 194, 194);
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
