<div class="experience-header">
  <h1>Experiences</h1>
  <button (click)="addExperience()" class="icon-btn add-btn" title="Aggiungi esperienza">
    <i class="material-icons">add_circle_outline</i>
  </button>
</div>
<ul *ngIf="experiences">
  <li *ngFor="let exp of experiences">
    <span>
      {{ exp.company_name }} - {{ exp.role }}
      ({{ exp.start_date }} - {{ exp.end_date && exp.end_date.toLowerCase() !== 'present' ? exp.end_date : 'Presente' }})
    </span>
    <button (click)="removeExperience(exp)" class="icon-btn" title="Rimuovi esperienza">
      <i class="material-icons">remove_circle_outline</i>
    </button>
  </li>
</ul>

